/* 1) Font-family  */

body {
  font-family: "Roboto Mono", monospace;
}

/* 2) 3 containers for page color scheme  */

.container1 {
  background-color: white;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #fca604;
}

.container3 {
  text-align: center;
  height: 10vh;
  background-color: #27d4df;
}

/* 3) Navigation bar */

.largeTitle {
  font-size: 50px;
}

.hero-nav {
  text-align: center;
  overflow: hidden;
  background-color: #333;
}

.hero-nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.hero-nav a:hover {
  background-color: #ddd;
  color: black;
}

.hero-nav a.active {
  background-color: orange;
  color: white;
}

/* 4) Piano Styling */

tr {
  width: auto;
}

td {
  border: 5px solid black;
  width: auto;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

.piano {
  width: 100vh;
  height: 50vh;
  border-spacing: 0px;
}

/* 5) Black Keys */

.key2,
.key5,
.key7,
.key10 {
  background-color: black;
  align-items: center;
  color: white;
  height: 25vh;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  width: 7vh;
  margin-left: -30px;
}

/* 6) White Keys */

.key1,
.key3,
.key4,
.key6,
.key8,
.key9,
.key11 {
  padding-top: 200px;
  background-color: white;
}

/* 7) Button styling */

button {
  z-index: 1;
  margin-left: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
}

button:hover {
  background-color: red;
}

.hiddenhowto {
  display: none;
  font-size: 20px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
